*.py[cod]
/dist/
*.egg-info
*.egg
# **/data
# Data files > 25 MB
data/largeUF.txt
data/largeG.txt
data/upc-items.csv
data/leipzig1M.txt
**/pkl
*.cache
*.coverage
__pycache__/
.venv/
.pytest_cache/
.ruff_cache/
